<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d %-5p (%t) [%c] (%t) %m%n"/>
      </layout>
   </appender>
   <appender name="FILE" class="org.apache.log4j.FileAppender">
      <param name="file" value="/tmp/hotrod.log" />
      <param name="append" value="false" />

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d %-5p (%t) [%c] (%t) %m%n"/>
      </layout>
   </appender>

   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->
   <category name="org.jboss">
      <priority value="INFO"/>
   </category>
   
   <category name="org.infinispan.client.hotrod.impl.protocol">
      <priority value="INFO"/>
   </category>

   <category name="org.infinispan.client.hotrod.impl.operations.RetryOnFailureOperation">
      <priority value="TRACE"/>
   </category>
<!--
   <category name="org.infinispan.client.hotrod.impl.transport.tcp.TcpTransportFactory">
      <priority value="TRACE"/>
   </category>
-->
   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <appender-ref ref="FILE"/>
      <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>
